@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<OPMSProto20202109.Models.ViewModels.TimeSheetWithClockInOutsViewModels>

@{
    ViewData["Title"] = "Index";
}

<h1>View</h1>

<p>
    <a asp-controller="TimeSheets" asp-action="Create">Create New TimeSheet</a>
</p>
@using (Html.BeginForm("HRIndex", "TimeSheetWithClockInOuts", FormMethod.Get))
{
    <fieldset>
        <legend>Search criteria</legend>
        @Html.Label("StartDate", "Start Date:")
        <input class="start" id="start" name="start" type="date" value="">
        @Html.Label("enddate", "End Date:")
        <input class="start" id="end" name="end" type="date" value="">
        <input type="submit" value="Apply" />
    </fieldset>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonDenied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ClockInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockOutTime)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.TimeSpan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HourlyWage)
                </th>*@
            <th>
                @Html.DisplayName("TotalPay")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonDenied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ClockInTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClockOutTime)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TimeSpan.TotalHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HourlyWage)
                    </td>*@
                <td>
                    @{ var total = (Double)item.TimeSpan.TotalHours * item.HourlyWage;
                        var totalCurrency = total.ToString("C");
                    }
                    @totalCurrency
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Timesheets" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-controller="Timesheets" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-controller="Timesheets" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-controller="Timesheets" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    }
                    @if (User.IsInRole("HR"))
                    {
                        <a asp-controller="Timesheets" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-controller="Timesheets" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
