@model IEnumerable<OPMSProto20202109.Models.ClockInOut>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Clock In</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClockOutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSheet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClockOutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSheet.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @if (User.IsInRole("Employee"))
                {
                    <a asp-action="ClockOut" asp-route-id="@item.ID">ClockOut</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="ClockOut" asp-route-id="@item.ID">ClockOut</a>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
                @if (User.IsInRole("Manager"))
                {
                    <a asp-action="ClockOut" asp-route-id="@item.ID">ClockOut</a>
 
                }
                @if (User.IsInRole("HR"))
                {
                    <a asp-action="ClockOut" asp-route-id="@item.ID">ClockOut</a>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
