@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>

@{
    ViewBag.Title = "DeleteUsers";
}

<br />
<div id="text-container">
    <h2>Delete Users</h2>

    @model OPMSProto20202109.Areas.Data.Employee
    @using (Html.BeginForm())
    {

        <p>Email: @Html.DisplayFor(model => model.Email)</p>
        <p>First Name: @Html.DisplayFor(model => model.FirstName)</p>
        <p>Last Name: @Html.DisplayFor(model => model.LastName)</p>

        <p>Are you sure to delete it?</p>
        <input type="submit" />
        <br /><br />
        @Html.ActionLink(" Back To List", "ListUsers")

    }
    @Html.HiddenFor(model => model.Id)

</div>