@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>

@model OPMSProto20202109.Areas.Data.Employee
@{
    ViewBag.Title = "EditUsers";
}

<br />
<div id="text-container">
    <h2>EditUsers</h2>

    @using (Html.BeginForm("EditUsers", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Active, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ExemptFromOvertime, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExemptFromOvertime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HourlyWage, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.HourlyWage, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentID, "DepartmentID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--<div class="form-group">-->
            @*@Html.Label("user Role", new { @class = "col-md-2 control-label" })*@
            <!--<div class="col-md-10">-->
                @*@Html.DropDownList("Name")*@
                @*@Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")*@
            <!--</div>
        </div>-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>

    }
    @Html.ActionLink(" Back To List", "ListUsers")

</div>