@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <style>
        .column {
            float: left;
            padding-left: 5%;
            width: 33%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

@{
    ViewBag.Title = "Index";
}
<br />
<div id="text-container">
    <h2>Admin Page</h2>

    <div class="row">
        <div class="column">
            <h4>Campuses</h4>
            <li>@Html.ActionLink("Add & Edit Campuses", "Index", "CampusAndAddress", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </div>

        <div class="column">
            <h4>Departments</h4>
            <li>@Html.ActionLink("Add Departments", "Index", "Departments", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

            <h4>Divisions</h4>
            <li>@Html.ActionLink("Add Divisions", "Index", "Divisions", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

            <h4>Roles</h4>
            <li>@Html.ActionLink("Add Roles", "Index", "Role", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </div>

        <div class="column">

            <h4>User</h4>

            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register New User</a>
            <li>@Html.ActionLink("List All Users", "ListUsers", "Admin", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

        </div>
    </div>
</div>